@font-face {
    font-family: Raleway;
    src: url("/fonts/raleway_semibold.ttf");
}

@font-face {
    font-family: MidRaleway;
    src: url("/fonts/raleway_regular.ttf");
}

#root {
    height: 100%;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
}

body{
    overflow-x: hidden;
}