@media screen and (min-width:0px) and (max-width:767px) {
    .appContainer{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:991px){
    .appContainer{
        padding-left: 100px;
        padding-right: 100px;  
    }
}

@media screen and (min-width:992px){
    .appContainer{
        padding-left: 200px;
        padding-right: 200px;  
    }
}
