.search{
    margin-top: 30px;
}

#searchInput{
    height: 100%;
    width: 100%;
    padding-top: 5px;
    font-family: MidRaleway;
    font-size: 30px;
    font-style: normal;
    border: 0px solid transparent;
    border-bottom: 1px solid #2196f3;
    color: #000;
    padding-left: 0px;
    outline: none;
}

@media screen and (min-width:0px) and (max-width:767px) {
    #searchInput{
        font-size: 18px;
    }
}

::-webkit-input-placeholder{
    font-family: MidRaleway;
    color: #000;
}

::-moz-placeholder{
    font-family: MidRaleway;
    color: #000;
}

::-ms-input-placeholder{
    font-family: MidRaleway;
    color: #000;
}

:-moz-placeholder{
    font-family: MidRaleway;
    color: #000;
}