.title{
    margin-top: 50px;
}

.postTitle{
    font-family: Raleway;
    font-size: 30px;
    color: #333;
}

@media screen and (min-width:0px) and (max-width:767px) {
    .postTitle{
        font-size: 22px;
    }
}