#header{
    height: 70px;
    padding-top: 20px;
}

#logo{
    position: absolute;
    margin-left: 0px;
    margin-top: 45px;
}

#section-icon-header-positioner{
    position: absolute;
    width: 130px;
    right: 0px;
}

#header-right-section{
    color: #333;
    font-size: 13px;
    font-family: Raleway;
    position: absolute;
    width: 100px
}

#iconHolder{
    padding-left: 10px;
    position: absolute;
    top:0px;
    margin-left: 100px;
}

.headerIcons{
    width: 20px;
    height: 20px;
}


